body{
    text-align: center;
    background-color: cornflowerblue;
}
#Home{
    background-color: gold;
}
#IntroPara{
    background-color: white;
}
#Campus{
    background-color: lightcyan;
}